<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="2994e3ee-1afd-484c-be7c-d151093e4e99" activeEnvironment="Default environment" name="SampleCalculator" resourceRoot="" soapui-version="5.5.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" compositeProjectFormat="1.3" updated="3.1.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:savedRecentRuns>1</con:savedRecentRuns><con:properties><con:property><con:name>x</con:name><con:value>111</con:value></con:property><con:property><con:name>y</con:name><con:value>0</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:sensitiveInformation/><con:authRepository/><con:tags/></con:soapui-project>