<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="20fe9041-9c1e-4688-8cdc-552e82701d4f" name="PropertyTransferTestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="20fe9041-9c1e-4688-8cdc-552e82701d4ffileName">PropertyTransferTestSuite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>