<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b2d14ef4-76f2-429f-bc48-ce87fefec113" name="PropertiesTestStepCalculatorTesting12" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="b2d14ef4-76f2-429f-bc48-ce87fefec113fileName">PropertiesTestStepCalculatorTesting12</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>first</con:name><con:value>40</con:value></con:property><con:property><con:name>second</con:name><con:value>20</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>