<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="374a325e-6690-4369-9611-82944afa179e" name="ClassroomLive" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="374a325e-6690-4369-9611-82944afa179efileName">ClassroomLive</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>a</con:name><con:value>2</con:value></con:property><con:property><con:name>b</con:name><con:value>1</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>