<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="df14a9c3-9d3d-4932-a624-c9774c455126" name="ExternalPropertiesCalculatorTesting" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="df14a9c3-9d3d-4932-a624-c9774c455126fileName">ExternalPropertiesCalculatorTesting</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>no1</con:name><con:value>100</con:value></con:property><con:property><con:name>no2</con:name><con:value>200</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>